<head>
  <meta charset="utf-8" />
  {% seo %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {%- if page.title -%}
      {{ page.title }}
    {%- else -%}
      {{ site.title }}
    {%- endif -%}
  </title>

  {%-feed_meta-%}

  <link rel="shortcut icon" type="image/x-icon" href="{{ "/assets/favicon.ico" | absolute_url }}" />
  <link rel="stylesheet" href="{{ "/css/main.css" | absolute_url }}" />
  <link rel="stylesheet" href="{{ "/assets/vs.css" | absolute_url }}" />
  {% if site.tags != "" %}
    {% include collect_tags.html %}
  {% endif %}

  {% if site.google_analytics %}
    {% include google-analytics.html %}
  {% endif %}

</head>
