/* start custom scss snippet */

/* jetbrains-mono-regular - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/jetbrains-mono-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('/assets/fonts/jetbrains-mono-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/jetbrains-mono-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/fonts/jetbrains-mono-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/jetbrains-mono-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/jetbrains-mono-v13-latin-regular.svg#JetBrainsMono') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'LXGWWenKai Bold';
  font-style: normal;
  src: url('/assets/fonts/LXGWWenKai-Bold.ttf');  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'LXGWWenKai Light';
  font-style: normal;
  src: url('/assets/fonts/LXGWWenKai-Light.ttf');  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'LXGWWenKai Regular';
  font-style: normal;
  src: url('/assets/fonts/LXGWWenKai-Regular.ttf');  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'LXGWWenKaiMono Bold';
  font-style: normal;
  src: url('/assets/fonts/LXGWWenKaiMono-Bold.ttf');  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'LXGWWenKaiMono Light';
  font-style: normal;
  src: url('/assets/fonts/LXGWWenKaiMono-Light.ttf');  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'LXGWWenKaiMono Regular';
  font-style: normal;
  src: url('/assets/fonts/LXGWWenKaiMono-Regular.ttf');  /* Safari, Android, iOS */
}


body {
  /* 更改正文字体 */
  font-family: 'LXGWWenKai Bold', Times, Menlo, Monaco, Consolas, Andale Mono, lucida console, Courier New, monospace;
  font-size: 1.2rem;
}

code {
  /* 更改code字体 */
  font-family: 'JetBrains Mono', Times, Menlo, Monaco, Consolas, Andale Mono, lucida console, Courier New, monospace;
  font-size: 1.05rem;
}

/* end custom scss snippet */

