/* start custom scss snippet */

/* jetbrains-mono-regular - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/JetBrainsMono-Regular.ttf'); /* Legacy iOS */
}

/* 使用 CDN 托管的 LXGWWenKai 字体，避免加载大型本地字体文件 */
@import url('https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.1.0/style.css');


body {
  /* 更改正文字体 */
  font-family: Times, Menlo, Monaco, Consolas, Andale Mono, lucida console, Courier New, monospace;
  font-size: 1.2rem;
}

a {
    color: #3354AA;
    text-decoration: none;
    background: transparent;
}

code {
  /* 更改code字体 */
  font-family: 'JetBrains Mono', Times, Menlo, Monaco, Consolas, Andale Mono, lucida console, Courier New, monospace;
  font-size: 0.9rem;
}


.post-meta { text-align: right; }

.language-plaintext {
  /* color: #f92672; */
  color: #B94A48;
  font-weight: bold;
  padding: 0 5px;
}

.category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap:10px 20px;
}
/* --- Tags --- */

.blog-tags {
  color: #999;
  font-size: 15px;
  margin-bottom: 30px;
}

.blog-tags a {
  color: #008AFF;
  text-decoration: none;
  padding: 0px 5px;
}

.blog-tags a:hover {
  border-radius: 2px;
  color: #0085A1;
  background-color: #EEE;
}

.post-preview .blog-tags {
  margin-top: 5px;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .post-preview .blog-tags {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .post-image, .post-image img {
    height: 100px;
    width: 100px;
  }

  .post-image {
    width: 100%;
    text-align: center;
    margin-top: 0;
    float: left;
  }
}
/* end custom scss snippet */
