---
layout: default
---

{%-include back_link.html-%}

<article>
    <p class="post-meta">
        <time datetime="{{ page.date }}"
            >{{ page.date | date: site.theme_config.date_format }}</time
        >
    </p>

    <h1 class="post_title">
        <a href="javascript:;">{{ page.title }}</a>
    </h1>

    {{ content }}
</article>

<span>Tags: [
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
  {% endfor %}
]</span>

<script
    src="https://giscus.app/client.js"
    data-repo="AlexVagrant/AlexVagrant.github.io"
    data-repo-id="R_kgDOHAr8yA"
    data-category="Announcements"
    data-category-id="DIC_kwDOHAr8yM4CfUfh"
    data-mapping="title"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="light"
    data-lang="zh-CN"
    data-loading="lazy"
    crossorigin="anonymous"
    async
></script>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
